body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.currencyInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: 2px solid #333;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  width: 7em;
}

select {
  margin-left: .5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 5px;

}

.equals {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}
